body{
    background-color: darkcyan;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
}
.timer{
    display: flex;
    /* background-color: gray; */
    font-size: 3vh;
    /* height: 3vh; */
}